* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  width: 40px;
  height: 40px;
}

.menu__button {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.menu__button a {
  width: 70px;
  height: 70px;
  background-color: #b6d3b9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button .menu__btn ~ a:hover {
  background-color: red;
  transition: 0.9s;
}
.menu__button .menu__btn ~ a:hover img {
  -webkit-animation: animate 0.2s ease;
          animation: animate 0.2s ease;
}

.menu__btn:first-child {
  z-index: 10;
  border-radius: 50%;
  position: absolute;
}

.icon {
  position: absolute;
  border-radius: 50%;
  transform: translate(0px, 0px);
  transition: 0.5s ease-out;
  transition-delay: calc(1s * var(--delay));
}

.icon.active {
  transform: translate(var(--i), var(--g));
  transition: 0.5s ease-out;
  transition-delay: calc(1s * var(--delay));
}

@-webkit-keyframes animate {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}